/* ОБЩИЕ СТИЛИ */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.page-header {
  background-color: #f7e296;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ШАПКА САЙТА */

/* РАЗДЕЛ SECTIONS */

.section {
  background-color: #f7e296;
}

/* РАЗДЕЛ SERVICES */

.services {
  background-color: #e5e5e5;
  /* тут потом градиент прописать */
}

/* КОНТАКТЫ */

.contacts__map-wrap {
  background-color: #e9e9e9;
}

/* ФУТЕР */

.page-footer {
  background-color: #464646;
}