/* ШРИФТЫ */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: bold;
}

/* ОБЩИЕ СТИЛИ */

* {
  outline: 1px solid lightgray;
}

:focus {
  outline: 2px solid red;
}

html,
body {
  width: 1440px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-decoration: none;
  display: inline-block;

  vertical-align: top;
  text-align: center;

  background-color: transparent;
  border-width: 0px;

  cursor: pointer;
}

.button--act {
  width: 220px;
  min-height: 40px;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  outline: 1px solid red;
}

.button--search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 85px;
  min-height: 49px;
  background-color: transparent;
  padding: 7px 20px 8px;

  color: #000000;
  letter-spacing: 0.01em;

  border: 2px solid transparent;
  outline: none;
}

.button--control {
  width: 12px;
  height: 12px;
  background-image: url('../img/slider-button-empty.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ФОРМЫ */

.form__legend {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.form__label {
  display: block;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.form__input-wrap {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*
.form__input-wrap label {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  font-weight: 300;
}
*/

.form__text-input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  background-color: rgba(230, 230, 230, 0.5);

  padding: 17px 19px 16px;

  border: 3px solid #f2f2f2;
}

.form__textarea {
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 0.5);

  padding: 17px 19px 16px;

  border: 3px solid #f2f2f2;
  resize: none;
}

.form__text-input:hover,
.form__text-input:hover,
.form__textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
  border: 3px solid #eaeaea;
}

.form__text-input:focus,
.form__text-input:focus,
.form__textarea:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(240, 197, 46, 0.5);
}

:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  border: 3px solid #f6dada;
}

/* ШАПКА САЙТА */

.page-header {
  padding-top: 40px;
  margin-bottom: 38px;
}

.page-header__wrap {
  position: relative;
  width: 1160px;
  min-height: 300px;
  box-sizing: border-box;

  padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;

  background-color: rgba(240, 197, 46, 0.5);
}

.page-header__logo-wrap {
  position: absolute;
  top: -18px;
  margin: 0;
}

.page-header__logo {
  font-family: "Gilroy";
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__logo[href]:hover,
.page-header__logo[href]:focus {
  opacity: 0.6;
}

.page-header__logo[href]:active {
  opacity: 0.3;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__menu {
  margin-bottom: 50px;
}

.main-menu__search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 440px;
}

.main-menu__search {
  position: relative;
}

.main-menu__search-field {
  width: 355px;
  padding-left: 40px;
  margin-bottom: 0;
  background-color: transparent;

  color: #000000;
  opacity: 0.3;
  letter-spacing: 0.01em;

  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.main-menu__search::before {
  position: absolute;
  content: '';
  top: 18px;
  left: 3px;
  width: 17px;
  height: 16px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-menu__search-field:hover {
  opacity: 0.6;
}

.main-menu__search-field:focus {
  outline: none;
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.main-menu__search-button {
  visibility: hidden;
  margin-left: auto;
}

.main-menu__search-field:focus ~ .main-menu__search-button {
  visibility: visible;
  border: 2px solid #000000;
}

.main-menu__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.main-menu__search-field:focus ~ .main-menu__search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #000000;
}

.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: yellow;
}

.user-menu__element {
  width: 100px;
}

.user-menu__element:first-child {
  margin-right: auto;
}

.user-menu__element:nth-child(3) {
  margin-left: 41px;
}

.user-menu__link {
  position: relative;
  display: inline-block;
  width: 100px;
  box-sizing: border-box;

  color: #000000;
  text-decoration: none;
  letter-spacing: 0.01em;
  outline: 1px solid red;
}

.user-menu__element:first-child a,
.user-menu__element:nth-child(2) a {
  padding-left: 27px;
}

.user-menu__element:first-child a::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/user.svg');
}

.user-menu__element:nth-child(2) a::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('../img/compare.svg');
}

.user-menu__element:nth-child(3) a {
  padding-left: 25px;
}

.user-menu__element:nth-child(3) a::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/cart.svg');
}

.user-menu__link:hover,
.user-menu__link:focus {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}

.user-menu__link--logout {
  background-color: transparent;
  opacity: 0.3;
  border-width: 0px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list__link {
  display: block;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-list__item:nth-child(1) {
  width: 300px;
  margin-right: auto;
}

.navigation-list__link--catalog {
  position: relative;
  padding-right: 33px;
}

.navigation-list__link--catalog::after {
  position: absolute;
  content: '';
  top: 4px;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.navigation-list__item:nth-child(2) {
  width: 123px;
}

.navigation-list__item:nth-child(3) {
  width: 140px;
  margin-left: 40px;
}

.navigation-list__item:nth-child(4) {
  width: 140px;
  margin-left: 60px;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
  opacity: 0.6;
}

.navigation-list__link:active {
  opacity: 0.3;
}

/* ВЫПАДАЮЩЕЕ МЕНЮ */

.navigation-list__drop {
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: 0;

  width: 1160px;
  height: 164px;
  padding: 33px 60px 43px;
  background-color: #f7e184;

  z-index: 10;
}

.navigation-list__item:hover .navigation-list__drop,
.navigation-list__item:focus .navigation-list__drop{
  display: block;
}

.drop-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  height: 108px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.drop-menu__item {
  width: 200px;
}

.drop-menu__item:first-child {
  margin-right: 40px;
}

.drop-menu__item:nth-child(6) {
  height: 37px;
}

.drop-menu__link {
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.drop-menu__link:hover {
  opacity: 0.6;
}

.drop-menu__link:active {
  opacity: 0.3;
}

/* ВЕРХНИЙ СЛАЙДЕР */

.promo {
  background-color: yellow;
  margin-bottom: 95px;
}

.slider {
  position: relative;
}

.slider__title {
  position: relative;
  width: 400px;
  margin: 0;
  margin-bottom: 28px;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.slider__title::before {
  position: absolute;
  content: '';
  top: -47px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slide .slider__title::after {
  position: absolute;
  content: '01';
  top: -115px;
  right: -110px;
  width: 180px;
  height: 180px;

  font-family: "Gilroy";
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.promo-slide--2 .slider__title::after {
  content: '02';
}

.promo-slide--3 .slider__title::after {
  content: '03';
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slide--2,
.promo-slide--3 {
  display: none;
}

.promo-slide--1 .slider__img-wrap {
  padding-left: 90px;
}

.promo-slide__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.slider__img-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.promo-slide__description {
  width: 500px;
  margin-right: 60px;
  padding-top: 90px;
}

.slider__text {
  width: 480px;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.slider__button-wrap {
  margin: 0;
  padding: 0;
}

.slider__parameters {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column-reverse;
}

.slider__parameters-row:nth-child(2) {
  order: 1;
}

.slider__parameters-row th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider__parameters-row td {
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.01em;
}

.controls {
  position: absolute;
  right: 60px;
  bottom: 150px;
}

.controls__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 78px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.controls__element {
  height: 12px;
}

.controls__element--active .button--control {
  background-image: url('../img/slider-button.svg');
  background-repeat: no-repeat;
}

/* РАЗДЕЛ SHOP-SECTIONS */

.shop-sections {
  margin-bottom: 80px;
}

.shop-sections__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-sections__element {
  margin-right: 40px;
}

.shop-sections__element:last-child {
  margin-right: 0;
}

.section__pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
  margin: 0;

  background-color: rgba(240, 197, 46, 0.5);
}

.section__link {
  text-decoration: none;
}

.section__link:hover .section__pic,
.section__link:focus .section__pic,
.section__link:active .section__pic {
  background-color: rgba(240, 197, 46, 1);
}

.section__link:active .section__title {
  opacity: 0.3;
}

.section__link:active svg {
  opacity: 0.3;
}

.section__title {
  width: 160px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/* РАЗДЕЛ SERVICES */

.services {
  min-height: 388px;
  background-image: linear-gradient(180deg, #ffffff 26%, #e5e5e5 26%);
  margin-bottom: 95px;
}

.services__wrap {
  display: flex;
  flex-direction: row;
}

.services__toggles-list {
  box-sizing: border-box;
  width: 277px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  list-style: none;
  border-right: 7px solid #000000;
}

.services__toggles-element {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 25px;
}

.services__toggles-toggle {
  display: flex;
  justify-content: center;
  width: 160px;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;

  text-decoration: none;
}

.services__toggles-element--active {
  background-color: #000000;
}

.services__toggles-element--active a  {
  color: #f0c52e;
}

.services__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__slider-element {
  padding-left: 117px;
}

.services__slider-wrap {
  position: relative;
  padding-top: 75px;
}

.slide .services__slider-wrap::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide--1 .services__slider-wrap::after {
  top: -12px;
  right: -275px;
  width: 136px;
  height: 164px;
  background-image: url('../img/delivery.svg');
}

.slide--2 .services__slider-wrap::after {
  top: -12px;
  right: -275px;
  width: 171px;
  height: 195px;
  background-image: url('../img/warranty.svg');
}

.slide--3 .services__slider-wrap::after {
  top: -12px;
  right: -275px;
  width: 156px;
  height: 188px;
  background-image: url('../img/warranty.svg');
}

.slide--2,
.slide--3 {
  display: none;
}

.slide__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
}

.slide__slogan {
  width: 430px;
  margin: 0;
  padding: 0;
}

/* РАЗДЕЛ ЛОГОТИПОВ */

.logotypes {
  margin-bottom: 94px;
}

.logotypes__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logotypes__item {
  margin-right: 40px;
}

.logotypes__item:last-child {
  margin-right: 0;
}

.logotype__link {
  display: flex;
  width: 260px;
  height: 100px;
}

.logotype__image {
  opacity: 0.2;
}

/* РАЗДЕЛ ИНФО */

.info {
  padding-bottom: 90px;
}

.info__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* РАЗДЕЛ О НАС */

.about__title {
  position: relative;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-top: 52px;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.about__title::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__paragraph {
  width: 460px;
  margin: 0;
  padding: 0;
}

.about__paragraph--choice {
  margin-bottom: 43px;
}

.about__paragraph--delivery {
  margin-bottom: 82px;
}

.about__more-wrap {
  display: flex;
  margin: 0;
  padding: 0;
}

.about__partners {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 70px;
}

.about__partners-element {
  position: relative;
  padding-left: 35px;

  font-family: "Gilroy";
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0em;
}

.about__partners-element::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

/* КОНТАКТЫ */

.contacts__title {
  position: relative;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-top: 52px;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.contacts__title::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts__text {
  width: 515px;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.contacts__map-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  width: 560px;
  height: 222px;

  margin: 0;
  margin-bottom: 70px;
  padding: 0;

  background-color: #e9e9e9;
}

.contacts__map-link {
  display: flex;
  text-decoration: none;
}

.contacts__write-wrap {
  margin: 0;
  padding: 0;
}

/* ЗАГОЛОВКИ СТРАНИЦЫ КАТАЛОГА */

.catalog-header__title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  letter-spacing: 0.01em;
}

/* ФИЛЬТР */

.catalog__wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.filter {
  background-color: #eeeeee;
}

.filter__wrap {
  width: 202px;
}

.filter__header {
  background-color: rgba(0, 0, 0, 0.08);
}

.filter__title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* КАТАЛОГ СОРТИРОВКА */

.sorting__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting__header-title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list__link {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.sort-list__item--active a {
  opacity: 1;
}

.sort-toggles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-toggles__item {
  width: 11px;
  height: 10px;
  background-color: yellow;
}

/* КАТАЛОГ ТОВАРЫ */

.products__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 800px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  margin-left: 20px;
  margin-right: 20px;
}

.product__img-wrap {
  display: flex;
  width: 360px;
  height: 380px;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.product__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.product:nth-child(2) .product__title {
  width: 180px;
}

.product:nth-child(4) .product__title {
  width: 225px;
}

.product__price {
  margin: 0;
  padding: 0;

  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.01em;
}

/* ПАГИНАТОР */

.pagination__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 760px;
  min-height: 70px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  background-color: #ebebeb;
}

.pagination__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination__item--prev a,
.pagination__item--next a,
.pagination__item--active a {
  opacity: 1;
}

.pagination__item--prev {
  width: 160px;
  margin-right: auto;
}

.pagination__item--prev a {
  min-height: 40px;
  padding-left: 30px;
}

.pagination__item--next a {
  min-height: 40px;
  justify-content: flex-end;
  padding-right: 30px;
}

.pagination__item--next {
  width: 160px;
  margin-left: auto;
}

.pagination__item--number a {
  display: flex;
  width: 40px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
}

/* ФУТЕР */

.page-footer {
  min-height: 323px;
  padding-top: 66px;
  background-color: #464646;
}

.page-footer__element {
  display: flex;
}

.page-footer__element:nth-child(1) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 37px;
}

.page-footer__element:nth-child(2) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 65px;
}

.page-footer__element:nth-child(3) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.page-footer__logo-wrap {
  position: relative;
  margin: 0;
}

.page-footer__logo-wrap::before {
  position: absolute;
  content: '';
  left: 0;
  top: 200px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.page-footer__logo {
  font-family: "Gilroy";
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.6;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.user-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__list-link {
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.page-footer__address {
  margin: 0;
  padding: 0;
  color: #ffffff;
  letter-spacing: 0em;
}

.page-footer__phone {
  margin: 0;
  padding: 0;
}

.page-footer__phone a {
  color: #ffffff;
  letter-spacing: 0em;
  text-decoration: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list__item:nth-child(1) a,
.menu-list__item:nth-child(3) a {
  width: 140px;
}

.menu-list__item:nth-child(2) a {
  width: 160px;
}

.menu-list__link {
  display: inline-block;

  text-align: center;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Социальные кнопки */

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  margin-right: 473px;
  padding: 0;
  padding-left: 9px;
  list-style: none;

  outline: 1px solid red;
}

.social-list__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-list__link--fb {
  margin-right: 23px;
  background-image: url('../img/fb.svg');
}

.social-list__link--in {
  margin-right: 22px;
  background-image: url('../img/instagram.svg');
}

.social-list__link--tw {
  background-image: url('../img/twitter.svg');
}

.social-list__link:hover,
.social-list__link:focus {
  opacity: 0.6;
}

.social-list__link:active {
  opacity: 0.1;
}

/* Копирайт */

.page-footer__copyright {
/*  margin-left: 473px;*/
}

.copyright {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
}

.copyright__link {
  display: inline-block;
  text-decoration: none;
}

.copyright__link:hover,
.copyright__link:focus {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.3;
}

/* МОДАЛКИ */

.modal {
  position: fixed;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

/* MODAL НАПИШИТЕ НАМ */

.write-us {
  display: none;
  position: relative;

  width: 960px;
  min-height: 555px;
  padding: 100px 100px 85px 100px;
  box-sizing: border-box;
}

.write-us__wrap:first-child {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 35px;
}

.write-us__wrap:nth-child(2) {
  margin-bottom: 50px;
}

.form__input-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.filter .form__input-wrap {
  flex-direction: row;
  align-items: center;
}

.write-us .form__label {
  margin-bottom: 9px;
}

.write-us__submit-wrap {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.write-us__submit {
  width: 200px;
}

.write-us__message {
  width: 760px;
  height: 156px;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
}

.button--close {
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url('../img/modal-close.svg');
  opacity: 0.5;
  border: none;
}

.button--close:hover {
  opacity: 1;
}

.button--close:active {
  opacity: 0.3;
}

/* MODAL с картой */

.map-popup {
  position: relative;
  display: none;
  width: 960px;
  height: 560px;

  z-index: 100;
}

.map-popup__wrap {
  position: absolute;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;

  z-index: 100;
}

.map-popup iframe {
  position: relative;
  width: 960px;
  height: 559px;

  border: none;
  z-index: 101;
}

.map-popup .modal__close {
  z-index: 102;
}
